/*reset css*/
@import url('./reset.css');

/* global css */
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'SUITE-Regular';
  background-color: azure;
}

/* a 태그 기본 스타일 제거 */
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

/* nav바 position 부모 지정 */
body {
  position: relative;
  /* padding-top: 7rem; */
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;

  height: 5rem;
  width: 100%;
  padding: 1.5rem;

  background-color: black;
  color: white;
  z-index: 2;
}

.header__title {
  font-size: 2rem;
  background-color: black;
}

/* main 전체 스타일링 */
.main {
  margin-top: 7rem;
  padding: 0 5rem 0 20rem;
}

/* 배너 영역 */
.banner-section {
  display: flex;
  align-items: center;

  position: relative;
  overflow: hidden;

  width: 100%;
  height: 13rem;
}

.banner-box {
  display: flex;
  flex-wrap: nowrap;

  position: absolute;

  width: max-content;
  height: 13rem;

  animation: banner-section-1 15s linear infinite;
}

.banner-box.list2 {
  animation: banner-section-2 15s linear infinite;
}

.banner-box > img {
  width: 12rem;
  height: 15rem;
}

/* 0%에서 -100%로 이동 */
@keyframes banner-section-1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* 100%에서 0%로 이동 */
@keyframes banner-section-2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* nav 영역 */
.nav-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 20rem;
  left: 3rem;

  width: 12rem;

  padding: 1.5rem 2rem 2rem;

  background-color: black;
  border-radius: 5px;
}

.nav-section__title {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;

  color: white;
  background-color: black;
}

.nav-section__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;

  padding: 1rem;
  border-radius: 5px;

  width: 100%;

  background-color: white;
}

.nav-section__items > li {
  display: flex;
  text-align: center;

  width: 100%;

  background-color: white;
}

.nav-section__items > li > a {
  display: block;

  width: 100%;

  background-color: white;
}

.nav-section__items > li:hover,
.nav-section__items > li > a:hover {
  color: #fcf6f5;
  background-color: pink;
}

.main > section {
  margin-bottom: 2rem;
  scroll-margin-top: 6rem;
}

/* 이미지 섹션 헤더 공통 스타일 */
.all-section__header,
.clothes-section__header,
.phone-case-section__header,
.accessory-section__header {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* 전체 이미지 섹션 */
.all-section__img-container,
.clothes-section__image-container,
.phone-case-section__image-container,
.accessory__image-container {
  display: flex;
  gap: 1.1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.item-container {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 12.7rem;

  padding: 1rem 1rem;

  background-color: white;
}

/* 아이템이 2개 or 1개일때만 크기 조정되도록 */
@media (max-width: 1059px) {
  .item-container {
    flex-grow: 1;
  }
}

.item-container > img {
  width: 100%;
  height: 12rem;
}

.item-container > p,
.item-container > i {
  background-color: white;
}
